

<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"> New Lot</div>
                <div class="panel-body">
                    <form class="form-signin center-block">
                        <label for="inputName" class="sr-only">name</label>
                        <input type="name" id="inputName" class="form-control" placeholder="Name" ng-model="name">
                        <label for="inputTopic" class="sr-only">Topic</label>
                        <input type="topic" id="inputTopic" class="form-control" placeholder="Topic" ng-model="topic">
                        <label for="inputDescription" class="sr-only">Description</label>
                        <input type="description" id="inputDescription" class="form-control" placeholder="Description" ng-model="description">
                        <label for="inputPrice" class="sr-only">Price</label>
                        <input type="price" id="inputPrice" class="form-control" placeholder="Price" ng-model="price">
                        <label for="inputEndDate" class="sr-only">End date</label>
                        <input type="endDate" id="inputEndDate" class="form-control" placeholder="EndDate" ng-model="endDate">
                        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="addLot();"> Add lot </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




