
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="../images/img_profile.jpg" class="img-responsive">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"> {{user.username}}</div>
                <div class="panel-body">
                    <table class="table table-stripped">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Balance</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr >
                            <td>{{user.username}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.surname}}</td>
                            <td>{{user.balance}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


