body{
    background-image: url(../images/footer_lodyas.png);
}
.menu{
    background-image: url(../images/gplaypattern.png);
}
.btn-sign-up{
    display: inline-block;
    margin-top: 10px;

    margin-left: 60px;
    width:110px;
    height:40px;
    background: url(../images/gplaypattern.png);
    border-radius:5%;
    box-shadow: 0 3px 20px rgba(0,0,0,25),
                inset 0 2px 0 rgba(255,255,255,6),
                0 2px 0 rgba(0,0,0,1),
                inset 0 0 20px rgba(0,0,0,.1);
}
.reg-form-head{
    background-image: url(../images/gplaypattern.png);
}
.reg-form{
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    width:300px;
    height:100px;
}
.menu-list{
    padding-left: 30px;
    padding-top: 20px;
}
.home-section{
    float:left;
    width: 10%;
}
.section{
    margin-left: 10%;
    float:left;
}
.active{
    background-color: white;
}
.photo{
    padding-right: 5px;
}
.container-fluid {
    background-color: #337ab1;
}

.form-signin{
    max-width:330px;
    padding: 15px;
    margin: 0 auto;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
/* Dropdown Button */
.dropbtn {
    background-color: #337ab1;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #337ab1;
    min-width: 77px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #337ab1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    color: white;
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #337ab1;
    color: white;
}

.viktor-photo{
    height: 30px;
    width: 30px;
}

.row {
    margin-top: 50px;
    max-width: 900px;
}

.panelText {
    color: white;
    font-size: 20px;
}

.text-right{
    padding-bottom:20px;
}

.rectangle {
    width:100px;
    height:75px;
    background:#337ab1;
}

.figure-input{
    width:100px;
    height:25px;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.rhombus {
    width: 100px;
    height: 100px;
    background: #337ab1;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 60px 0 10px 310px;
}

.oval {
    width: 100px;
    height: 50px;
    background: #337ab1;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
}

.parallelogram {
    width: 100px;
    height: 75px;
    background: #337ab1;
    /* Skew */
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}
